## Python statistics essential training - 04_04_testing

Standard imports

In [1]:
import math
import io

In [2]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
import scipy.stats
import scipy.optimize
import scipy.spatial

In [4]:
pumps = pd.read_csv('pumps.csv')

In [5]:
pumps

         lat       lon         x         y
0  51.513341 -0.136668  0.000000  0.000000
1  51.513876 -0.139586 -0.201858  0.059469
2  51.514906 -0.139671 -0.207738  0.173961
3  51.512354 -0.131630  0.348513 -0.109712
4  51.512139 -0.133594  0.212650 -0.133611
5  51.511542 -0.135919  0.051813 -0.199972
6  51.510019 -0.133962  0.187193 -0.369265
7  51.511295 -0.138199 -0.105910 -0.227428